{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Система рекомендаций{% endblock %}</title>

    <!-- Подключение статичеcких файлов со стилями Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        /* СДЕЛАТЬ ЖИРНЫМ ШРИФТ в названии полей на формах из FORMS.PY */
        form p label {
            font-weight: bold;
            }

        /* СТИЛИЗАЦИЯ ПОЛЕЙ ФОРМ - делает текст "placeholder" прозрачней до 70% */
        .text-muted-secondary::placeholder {
            opacity: 0.3;
            }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

<!-- Подключение подшаблона с меню (верхняя часть с навигацией) -->
{% include 'users/menu.html' %}

<!-- Подключение основного контента страницы -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Нижняя часть с футером (подвал)-->
<footer>
    <div class="container border-top pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-5 col-md text-center">
                Система разработана в рамках дипломной работы: "OA4 - Система рекомендаций на основе графов"
                <small class="d-block mb-3 text-muted">&copy; 2025</small>
            </div>
            <div class="col-5 col-md text-center">
                В исследовании используется датасет
                <a class="text-muted" href="https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis/data" target="_blank">
                    "Instacart Market Basket Analysis"
                </a>
            </div>
            <div class="col-2 col-md text-center">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Подключение статичеcких файлов со скриптами Bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--Bootstrap Dual Listbox — это готовый jQuery-плагин с поддержкой Bootstrap-стилей. Он превращает обычное <select multiple> поле в 2 колонки: слева — доступные, справа — выбранные.-->
<!-- Bootstrap Dual Listbox CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap4-duallistbox/dist/bootstrap-duallistbox.min.css">
<!-- jQuery (если еще не подключен) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap Dual Listbox JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap4-duallistbox/dist/jquery.bootstrap-duallistbox.min.js"></script>
<!-- Инициализация Bootstrap Dual Listbox -->
<script>
    $(document).ready(function () {
      $('.duallistbox').bootstrapDualListbox({
        nonSelectedListLabel: 'Все получатели',
        selectedListLabel: 'Выбранные получатели',
        preserveSelectionOnMove: 'moved',
        moveOnSelect: false,
        filterPlaceHolder: 'Поиск...',
        infoText: 'Показано {0}',
        infoTextEmpty: 'Нет получателей',
        infoTextFiltered: '<span class="label label-warning">Фильтр:</span> {0} из {1}',
        selectorMinimalHeight: 200
      });
    });
</script>

</body>

</html>