{% extends 'users/base.html' %}

{% load static %}

{% block title %}Вход в Систему рекоммендаций{% endblock %}

{% block content %}
<div class="container my-5">

    <!-- Hero-блок с логотипом и текстом -->
    <div class="text-center mb-5">

        <!-- Логотип + Текст -->
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4">
            <img src="{% static 'image/app_logo/rec_sys.png' %}" class="img-fluid"
                 alt="rec_sys" style="max-height: 200px;">
            <div>
                <h1 class="fw-bold mb-5">Система рекомендаций на основе графов</h1>
                <h4 class="fw-bold">Разработаны следующие алгоритмы на графах для генерации рекомендаций:</h4>
                <div class="text-start ms-5">
                    <ul class="lead text-muted">
                        <li>Алгоритм PageRank для оценки важности узлов.</li>
                        <li>Алгоритм коллаборативной фильтрации для рекомендаций на основе схожести пользователей.</li>
                        <li>Алгоритм нахождения ближайших соседей (k-Nearest Neighbors) для нахождения пользователей с похожими интересами.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма для полей с отступом  -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card rounded-4 border-0">
                <div class="card-body p-5">
                    <h3 class="text-center mb-4 fw-bold">Вход в систему</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Пожалуйста, проверьте правильность введённых данных и повторите попытку.
                        </div>
                        {% endif %}

                        <!-- Кнопки  -->
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-dark btn-lg w-100">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}